
body {
    padding: 0;
    margin: 0;
    background: #efe6dd;
    /* background: #f3dfa2; */
    color: #400601;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

/* form styling */

  label {
    text-shadow: 1px 1px silver;
  }

  input[type="date"] {
    background: none;
    border: 0px none #114232;
    border-bottom: 2px solid #bb4430;
    margin: 10px;
    padding: 3px;
    box-shadow: 2px inset;
  }
  
  input[type="date"]:focus {
    border-bottom: 2px solid #114232;
    border: 1px solid #114232;
  }
  
  input[type="date"]:disabled {
    border-bottom: 2px solid #bb4430;
    color: silver;
  }
  
  input[type="submit"] {
    color: bisque;
    background: #114232;
    border: 0px none red;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    box-shadow: 5px 5px silver;
  }
  
  input[type="submit"]:hover {
    background: #7ebdc2;
    transition: background 0.3s ease;
  }
  
  input[type="submit"]:active {
    /* box-shadow: inset 0px 0px 5px white; */
    transform: translateY(4px);
    box-shadow: 5px 2px silver;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;
  }
  

   /* Anchor styling */

  a {
    color: #2ba889;
    text-decoration: dotted;
  }
  
  a:hover {
    transition: color 0.3s ease;
    color: #bab255;
  }
  
  a:visited {
    transition: color 0.3s ease;
    text-decoration: line-through;
    color: #cd3f38;
  }
  
  /* marquee */
  .header {
    padding-left: 2vw;
    width: 98vw;
    height: 10%;
    background: #3b593f;
    color: bisque;
    border-bottom: 2px solid black;
  }
  

  /* main splash and title */

  .hero {
    height: 23.5vh;
    width: 100vw;
    background: orange;
    /* background-image: url(https://cdn.wallpapersafari.com/4/69/AHtGj4.jpg); */
    background-image: url(https://www.icrc.org/sites/default/files/styles/amp_thumbnail_image_16-9/public/document/image/150504-nepal-earthquake-image-11.jpg?itok=fvWeUh6a);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: bottom;
    font-size: 100%;
    border-bottom: 2px solid black;
  }
  
  .hero img {
    color: #2ba889;
    height: 100%;
    width: 100%;
    background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 15%, rgba(2,0,36,0) 50%, rgba(36,0,0,1) 87%);
  }
  
  .hero h1 {
    /* color: #d9d4ba; */
    color: #f3dfa2;
    padding-left: 5vw;
    position: relative;
    bottom: 80px;
    text-decoration: underline solid #bb4430 4px;
    display: inline-block;
    text-shadow: 2px 2px #114232;
    /* box-shadow: 0px 2px #2ba889; */
  }
  

  /* central element and map */

  .map {
    background: #3b593f;
    display: grid;
    grid-template-columns: 0.2fr 3fr 1.7fr;
    border: 5px double #3b593f;
    border-radius: 10px;
    box-shadow: 5px 5px silver;
    margin: 2.5vh 1vh;
  }
  
  .map .mapleft {
    background: white;
    /* padding: 20px; */
    border-radius: 10px 0px 0px 10px;
    padding: 10vh 5vh;
  }
  
  .map .mapright {
    background: white;
    /* padding: 20px; */
    border-radius: 0px 10px 10px 00px;
    padding: 10vh 0vw;
    width: 95%;
    text-align: center;
  }
  
  #map {
    height: auto;
    width: 55vw;
    border: 2px solid #400601;
  }
  
/* attributions */

  .footer {
    text-align: right;
    /* text-justify: distribute; */
    padding-top: 4vh;
    width: 100vw;
    /* height: 5%; */
    background: #3b593f;
    /* padding-bottom: 2vh; */
  }


.footer p {
    margin: 0px;
    padding: 0px;
}

.main{
    display: grid;
    background:#3b593f;
    border: 10px solid #3b593f;
    border-radius: 15px;
    margin: 8% auto;
    grid-template-columns: 2fr 2fr 2fr;
    height: 75vh;
    width: 85vh;
}
.block {
    width: 95%;
    margin: 20% auto;
    background: #efe6dd;
    border-radius: 10px;
}

.block ul{
    margin: 20% auto;
}
  @media only screen and (max-width: 600px) {
    .header {
      width: 98vw;
    }
    .hero {
      width: 100vw;
    }
    .hero h1 {
      font-size: large;
      bottom: 90px;
      box-shadow: none;
    }
  
    .map {
      grid-template-columns: 4fr;
      width: 90%;
      margin: 10% auto;
    }
    #map {
      height: 50vh;
      width: auto;
      margin: 10% 0%;
    }
    .mapleft {
      background: white;
      border-radius: 10px 10px 10px 10px;
      padding: 10vh 10vw;
    }
    .mapright {
      background: red;
      border-radius: 10px;
      padding: 10vh 10vw;
      width: 100%;
    }
    .main{
        display: grid;
        background:#3b593f;
        border: 10px solid #3b593f;
        border-radius: 15px;
        margin: 8% auto;
        grid-template-columns: 2fr;
        height: auto;
        width: auto;
    }
    .block{
        text-align: center;
    }

    ul{
        list-style-type: none;
        margin: 0%;

    }

    h3 {
        padding: 0;
        margin-top: 20%;
    }
  }
  